.App {
  text-align: center;
}

.main {
  background: url(https://images.hdqwalls.com/wallpapers/beyond-the-great-valley-4k-u8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 93.4vh;
}

.mains {
  background: url(https://images.hdqwalls.com/wallpapers/beyond-the-great-valley-4k-u8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
